/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px;
}

main {
  background-color: #06365f;
  height: 400px;
}


.container {
  border: 1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 0.5em;
  width: 400px;
  padding: 10px;
  box-shadow: 10px 10px rgba(114, 113, 113, 0.1)
}

footer {

}
